<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>suhu</ion-title>
  </ion-toolbar>
</ion-header>

<ion-list>
  <ion-item>
    <ion-select label="Konversi Suhu" placeholder="Pilih Konversi">
      <ion-select-option value="apple">Celcius to Fahrenheit</ion-select-option>
      <ion-select-option value="orange">Celcius to Kelvin</ion-select-option>
      <ion-select-option value="banana"
        >Fahrenheit to Celcius</ion-select-option
      >
      <ion-select-option value="orange">Fahrenheit to Kelvin</ion-select-option>
      <ion-select-option value="orange">Kelvin to Celcius</ion-select-option>
      <ion-select-option value="orange">Kelvin to Fahrenheit</ion-select-option>
    </ion-select>
  </ion-item>
</ion-list>

<ion-footer>
  <ion-toolbar>
    <ion-title aria-expanded="block">Create By Rifqi Ramdani</ion-title>
  </ion-toolbar>
</ion-footer>
