<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>suhu</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-label position="floating">Temperature</ion-label>
    <ion-input type="number" [(ngModel)]="inputTemperature"></ion-input>
  </ion-item>

  <ion-content>
    <ion-item>
      <ion-label>Select From Unit</ion-label>
      <ion-select interface="popover" [(ngModel)]="selectedFromUnit">
        <ion-select-option value="celsius">Celsius</ion-select-option>
        <ion-select-option value="fahrenheit">Fahrenheit</ion-select-option>
        <ion-select-option value="kelvin">Kelvin</ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-label>Select To Unit</ion-label>
      <ion-select interface="popover" [(ngModel)]="selectedToUnit">
        <ion-select-option value="celsius">Celsius</ion-select-option>
        <ion-select-option value="fahrenheit">Fahrenheit</ion-select-option>
        <ion-select-option value="kelvin">Kelvin</ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Temperature</ion-label>
      <ion-input type="number" [(ngModel)]="inputTemperature"></ion-input>
    </ion-item>

    <ion-button expand="full" (click)="convert()">Convert</ion-button>

    <ion-item *ngIf="result">
      <ion-label>Result</ion-label>
      <ion-input type="number" disabled="true" value="{{result}}"></ion-input>
    </ion-item>
  </ion-content>

  <ion-footer>
    <ion-toolbar>
      <ion-title aria-expanded="block">Create By Rifqi Ramdani</ion-title>
    </ion-toolbar>
  </ion-footer>
</ion-content>
