<ion-header>
  <ion-toolbar>
    <ion-title expand="block"> Menu </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- Menu atas -->
  <div class="menu-container">
    <div class="menu-item">
      <ion-card>
        <img
          src="https://ionicframework.com/docs/img/demos/card-media.png"
          alt="Sample Image"
        />
        <ion-button expand="block" color="secondary" (click)="navigateTo()"
          >Suhu</ion-button
        >
      </ion-card>
    </div>
    <div class="menu-item">
      <ion-card>
        <img
          src="https://ionicframework.com/docs/img/demos/card-media.png"
          alt="Sample Image"
        />
        <ion-button expand="block" color="secondary" (click)="navigateTo()"
          >Jarak</ion-button
        >
      </ion-card>
    </div>
  </div>

  <!-- Menu bawah -->
  <div class="menu-container">
    <div class="menu-item">
      <ion-card>
        <img
          src="https://ionicframework.com/docs/img/demos/card-media.png"
          alt="Sample Image"
        />
        <ion-button expand="block" color="secondary" (click)="navigateTo()"
          >Masa</ion-button
        >
      </ion-card>
    </div>
    <div class="menu-item">
      <ion-card>
        <img
          src="https://ionicframework.com/docs/img/demos/card-media.png"
          alt="Sample Image"
        />
        <ion-button expand="block" color="secondary" (click)="navigateTo()"
          >Waktu</ion-button
        >
      </ion-card>
    </div>
  </div>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-title aria-expanded="block">Create By Rifqi Ramdani</ion-title>
  </ion-toolbar>
</ion-footer>
